<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <app-email
      class="email"
      *ngFor="let item of emails; let index = index"
      (archived)="archiveDeleteItem($event, item.uid)"
      (deleted)="archiveDeleteItem($event, item.uid)"
    >
      <ion-label>
        <div class="user-image"></div>
        <div class="info">
          <h3>
            {{item.subject}}
          </h3>
          <p>
            {{item.sender}}: {{item.message}}
          </p>
        </div>
      </ion-label>
    </app-email>
  </ion-list>

</ion-content>
